@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

html, body, div, h1, h2, h3, p, ul, li, button, input{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "DIN Web", "DIN Alternate", sans-serif;
  font-weight: inherit;
  font-size: inherit;
  list-style: none;
  font-size: 20px;
  // font-sizes: 48 25 20 15
  // bold: font-weight: 700
}

#content{
  display: flex;
  justify-content: center;
}

.react-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login, .signup{
  display:flex;
  width:300px;
  flex-direction:column;
  h1{
    margin-bottom: 16px;
  }
  form{
    display:flex;
    flex-direction:column;
  }
  h4{
    color:#8f8f8f;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
  }
  a{
    color:#21ce99;
    cursor: pointer;
  }
  input[type=text], input[type=password]{
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }
  input.error{
    border: 1px solid #fb5229;
  }
  h4.error{
    color: #fb5229;
  }
}
.guest-login{
  color:#21ce99;
  background-color: #fff;
  border: 2px solid #21ce99;
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
  min-width: 600px;
  max-width: 950px;
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 20px 0;
}
.logo{
  cursor: pointer;
  height:60px;
  width:300px;
  background-image: url("../robinbanks.png");
}

.stock-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.stock-chart{
  height: 450px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span.bad-news{
    color: #fb5229;
    background-color: #fff;
  }
  span.good-news{
    color: #21ce99;
  }
  a{
    cursor: pointer;
    padding: 0 8px;
    position: relative;
  }
  a.selected{
    color: #21ce99;
  }
  a:hover{
    color: #21ce99;
  }
  a.selected:before, a:hover:before, a:focus:before, a:active:before {
    left: 0;
    right: 0;
  }
  a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: -1px;
    background: #21ce99;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}

.chart-chart{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .loader{
    position: absolute;
    left: 232px;
    top: 100px;
  }
}

.stock-news{
  height: 300px;
  width: 600px;
  overflow-y: auto;
}
.stock-news ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 25px;
}

h4{
  font-size: 15px;
}

input[type=text], input[type=password]{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #8f8f8f;
}

button, input[type=submit]{
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #21ce99;
  border: 1px solid #21ce99;
  cursor: pointer;
}

button:hover, input[type=submit]:hover{
  background-color: #1aa278;
  border: 1px solid #199972;
}

label{
  display:block;
}

.stock-list{
  margin-right: 20px;
}

.stock-list > ul {
  margin-top: 20px;
}

.stock-list, .search{
  width: 300px;
}

.search {
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.stock-list-item, .search-result-item, .news-result-item, .stock-news h2 {
  padding: 20px;
  border-bottom: 1px solid #8f8f8f;
}
li.placeholder{
  background: rgb(255,240,120);
}
li.placeholder:before{
  content: "Drop here";
  color: rgb(255,210,90);
}

.news-result-item{
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  h4{
    margin: 0px;
    padding-top: 8px;
  }
  a{
    color: #000;
    text-decoration: none;
  }
}

.search-result-item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.search-result-item:hover:after {
  content: "Add to your list";
  border: 1px solid #8f8f8f;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 20px;
}


.stock-list-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  .list-item-delete{
    display:none;
  }
  .ticker-symbol{
    display: inline-block;
    width:70px;
  }
  svg {
    width: 90px;
    height: 35px;
  }
}
.stock-list-item:hover {
  .good-news, .bad-news{
    display:none;
  }
  .list-item-delete{
    display:inline;
    color: #8f8f8f;
    background-color: #fff;
    border: 1px solid #8f8f8f;
  }
  .list-item-delete:hover {
    background-color: #ddd;
  }
  svg {
  }
}

.stock-list-item.selected {
  background-color: #21ce99;
  color: #fff;
  button {
    border: 1px solid #fff;
    color: #000;
  }
}

.bad-news{
  color: #fff;
  background-color: #fb5229;
}

.greyed-out {
  color: #8f8f8f;
}


.loader{
  position: relative;
  top: 50%;
}
.loader > div {
  width: 45px;
  height: 45px;
  background-color: #21ce99;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #000;
    background-size: cover;
}

.fullscreen{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.3);
}

.splash-logo{
  height: 168px;
  width: 500px;
  background-image: url("../splash-logo.png");
}

.section {
  h1, h2, h3, p {
    text-align: center;
    font-family: Lato, "DIN Web", "DIN Alternate", sans-serif;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  h1 {
    font-size: 56px;
    padding: 30px;
  }
  h2 {
    font-size: 48px;
    padding: 24px;
    font-weight: 100;
  }
  h3 {
    font-size: 32px;
    padding: 16px;
    font-weight: 100;
  }
  p {
    padding: 12px;
    font-weight: 100;
    text-align: justify;
  }
  figure {
    margin: 0;
  }
  figure > img {
    max-width: calc(100vw - 80px);
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.green {
  background-color: #21ce99;
  color: #fff;
}
.black {
  background-color: #040d14;
  color: #fff;
}

.white img {
  width: 300px;
}
.black img {
  height: 250px;
}
