html, body, div, h1, h2, h3, p, ul, li, button, input{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "DIN Web", "DIN Alternate", sans-serif;
  font-weight: inherit;
  font-size: inherit;
  list-style: none;
  font-size: 20px;
  // font-sizes: 48 25 20 15
  // bold: font-weight: 700
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.stock-info{
  display: flex;
}

.stock-chart{
  height: 450px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-chart{
  height: 300px;
  width: 100%;
}

.stock-news{
  height: 300px;
  width: 600px;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 25px;
}

h4{
  font-size: 15px;
}

input[type=text], input[type=password]{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #8f8f8f;
}

button, input[type=submit]{
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #21ce99;
  border: 1px solid #21ce99;
  cursor: pointer;
}

button:hover, input[type=submit]:hover{
  background-color: #1aa278;
  border: 1px solid #199972;
}

label{
  display:block;
}

.stock-list, .search{
  width: 300px;
}

.stock-list-item, .search-result-item, .news-result-item, .stock-news h2 {
  padding: 20px;
  border-bottom: 1px solid #8f8f8f;
}

.search-result-item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.stock-list-item{
  .list-item-delete{
    display:none
  }
}
.stock-list-item:hover {
  .list-item-delete{
    display:inline;
    color: #8f8f8f;
    background-color: #fff;
    border: 1px solid #8f8f8f;
  }
  svg {
    display: none;
  }
}

.stock-list-item.selected {
  background-color: #21ce99;
  color: #fff;
  button {
    border: 1px solid #fff;
    color: #000;
  }
}

.search-result-item:hover:after {
  content: "Add to your list";
}


.bad-news{
  color: #fff;
  background-color: #fb5229;
}

.greyed-out {
  color: #8f8f8f;
}
